<a href="https://colab.research.google.com/github/kishanRaj10/18CSE044-DMDW-LAB/blob/main/DMDW_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
path="https://raw.githubusercontent.com/kishanRaj10/18CSE044-DMDW-LAB/main/Toyota.csv%20-%20Toyota.csv.csv"
data =pd.read_csv(path)
data

      Unnamed: 0  Price   Age     KM  ... Automatic    CC  Doors  Weight
0              0  13500  23.0  46986  ...         0  2000  three    1165
1              1  13750  23.0  72937  ...         0  2000      3    1165
2              2  13950  24.0  41711  ...         0  2000      3    1165
3              3  14950  26.0  48000  ...         0  2000      3    1165
4              4  13750  30.0  38500  ...         0  2000      3    1170
...          ...    ...   ...    ...  ...       ...   ...    ...     ...
1431        1431   7500   NaN  20544  ...         0  1300      3    1025
1432        1432  10845  72.0     ??  ...         0  1300      3    1015
1433        1433   8500   NaN  17016  ...         0  1300      3    1015
1434        1434   7250  70.0     ??  ...         0  1300      3    1015
1435        1435   6950  76.0      1  ...         0  1600      5    1114

[1436 rows x 11 columns]

In [10]:
type(data)

pandas.core.frame.DataFrame

In [11]:
data.shape

(1436, 11)

In [12]:
data.info

<bound method DataFrame.info of       Unnamed: 0  Price   Age     KM  ... Automatic    CC  Doors  Weight
0              0  13500  23.0  46986  ...         0  2000  three    1165
1              1  13750  23.0  72937  ...         0  2000      3    1165
2              2  13950  24.0  41711  ...         0  2000      3    1165
3              3  14950  26.0  48000  ...         0  2000      3    1165
4              4  13750  30.0  38500  ...         0  2000      3    1170
...          ...    ...   ...    ...  ...       ...   ...    ...     ...
1431        1431   7500   NaN  20544  ...         0  1300      3    1025
1432        1432  10845  72.0     ??  ...         0  1300      3    1015
1433        1433   8500   NaN  17016  ...         0  1300      3    1015
1434        1434   7250  70.0     ??  ...         0  1300      3    1015
1435        1435   6950  76.0      1  ...         0  1600      5    1114

[1436 rows x 11 columns]>

In [13]:
data.index

RangeIndex(start=0, stop=1436, step=1)

In [14]:
data.columns

Index(['Unnamed: 0', 'Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor',
       'Automatic', 'CC', 'Doors', 'Weight'],
      dtype='object')

In [15]:
data.head()

   Unnamed: 0  Price   Age     KM  ... Automatic    CC  Doors  Weight
0           0  13500  23.0  46986  ...         0  2000  three    1165
1           1  13750  23.0  72937  ...         0  2000      3    1165
2           2  13950  24.0  41711  ...         0  2000      3    1165
3           3  14950  26.0  48000  ...         0  2000      3    1165
4           4  13750  30.0  38500  ...         0  2000      3    1170

[5 rows x 11 columns]

In [16]:
data.tail()

      Unnamed: 0  Price   Age     KM  ... Automatic    CC  Doors  Weight
1431        1431   7500   NaN  20544  ...         0  1300      3    1025
1432        1432  10845  72.0     ??  ...         0  1300      3    1015
1433        1433   8500   NaN  17016  ...         0  1300      3    1015
1434        1434   7250  70.0     ??  ...         0  1300      3    1015
1435        1435   6950  76.0      1  ...         0  1600      5    1114

[5 rows x 11 columns]

In [17]:
data.head(5)

   Unnamed: 0  Price   Age     KM  ... Automatic    CC  Doors  Weight
0           0  13500  23.0  46986  ...         0  2000  three    1165
1           1  13750  23.0  72937  ...         0  2000      3    1165
2           2  13950  24.0  41711  ...         0  2000      3    1165
3           3  14950  26.0  48000  ...         0  2000      3    1165
4           4  13750  30.0  38500  ...         0  2000      3    1170

[5 rows x 11 columns]

In [18]:
data[['Price',"Age"]].head(10)

   Price   Age
0  13500  23.0
1  13750  23.0
2  13950  24.0
3  14950  26.0
4  13750  30.0
5  12950  32.0
6  16900  27.0
7  18600  30.0
8  21500  27.0
9  12950  23.0

In [19]:
data.isnull().sum()

Unnamed: 0      0
Price           0
Age           100
KM              0
FuelType      100
HP              0
MetColor      150
Automatic       0
CC              0
Doors           0
Weight          0
dtype: int64

In [21]:
data.dropna(inplace=True)
data.isnull().sum()

Unnamed: 0    0
Price         0
Age           0
KM            0
FuelType      0
HP            0
MetColor      0
Automatic     0
CC            0
Doors         0
Weight        0
dtype: int64

In [22]:
data.shape

(1111, 11)

In [23]:
data.head(10)

    Unnamed: 0  Price   Age     KM  ... Automatic    CC  Doors  Weight
0            0  13500  23.0  46986  ...         0  2000  three    1165
1            1  13750  23.0  72937  ...         0  2000      3    1165
3            3  14950  26.0  48000  ...         0  2000      3    1165
4            4  13750  30.0  38500  ...         0  2000      3    1170
5            5  12950  32.0  61000  ...         0  2000      3    1170
8            8  21500  27.0  19700  ...         0  1800      3    1185
10          10  20950  25.0  31461  ...         0  1800      3    1185
11          11  19950  22.0  43610  ...         0  1800      3    1185
12          12  19600  25.0  32189  ...         0  1800      3    1185
13          13  21500  31.0  23000  ...         0  1800      3    1185

[10 rows x 11 columns]

In [24]:
data['MetColor'].mean()

0.6750675067506751

In [25]:
data['MetColor'].head()

0    1.0
1    1.0
3    0.0
4    0.0
5    0.0
Name: MetColor, dtype: float64

In [26]:
import numpy as np
data['MetColor'].replace(np.NaN,data['MetColor'].mean()).head()

0    1.0
1    1.0
3    0.0
4    0.0
5    0.0
Name: MetColor, dtype: float64

In [27]:
data.head(10)

    Unnamed: 0  Price   Age     KM  ... Automatic    CC  Doors  Weight
0            0  13500  23.0  46986  ...         0  2000  three    1165
1            1  13750  23.0  72937  ...         0  2000      3    1165
3            3  14950  26.0  48000  ...         0  2000      3    1165
4            4  13750  30.0  38500  ...         0  2000      3    1170
5            5  12950  32.0  61000  ...         0  2000      3    1170
8            8  21500  27.0  19700  ...         0  1800      3    1185
10          10  20950  25.0  31461  ...         0  1800      3    1185
11          11  19950  22.0  43610  ...         0  1800      3    1185
12          12  19600  25.0  32189  ...         0  1800      3    1185
13          13  21500  31.0  23000  ...         0  1800      3    1185

[10 rows x 11 columns]

In [29]:
data['CC'].mean()

1569.4635463546354

In [30]:
data['CC'].head()

0    2000
1    2000
3    2000
4    2000
5    2000
Name: CC, dtype: int64

In [32]:
data[['Age',"KM"]].head(20)

     Age     KM
0   23.0  46986
1   23.0  72937
3   26.0  48000
4   30.0  38500
5   32.0  61000
8   27.0  19700
10  25.0  31461
11  22.0  43610
12  25.0  32189
13  31.0  23000
14  32.0  34131
15  28.0  18739
16  30.0  34000
17  24.0  21716
18  24.0  25563
19  30.0  64359
20  30.0  67660
22  28.0  56349
23  28.0  32220
24  29.0  25813