In [1]:
import numpy as np
import pandas as pd

In [2]:
data=[1,2,3,4,5,6,7,8,9]
df=pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9

In [3]:
data=[['A',10],['B',15],['C',20]]
df=pd.DataFrame(data)
df

   0   1
0  A  10
1  B  15
2  C  20

In [4]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
dates = pd.date_range('20201102', periods=6)
dates

DatetimeIndex(['2020-11-02', '2020-11-03', '2020-11-04', '2020-11-05',
               '2020-11-06', '2020-11-07'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-11-02 -0.056698 -0.371076  0.430862  1.250487
2020-11-03 -0.979188  0.122343  0.468996 -1.205912
2020-11-04  0.615754 -1.029345  1.478236 -0.076471
2020-11-05 -0.013311 -0.582536  1.233423 -0.023510
2020-11-06  0.141375 -0.899362  0.939223  0.278153
2020-11-07 -0.390519 -1.053149 -0.189085 -0.150460

In [11]:
df2 = pd.DataFrame({'A': pd.Timestamp('20201102'),'B': pd.Series(1, index=list(range(4)), dtype='float32'),'C': np.array([3] * 4, dtype='int32'),'D': pd.Categorical(["test", "train", "test", "train"]),'E': 'dates'})
df2

           A    B  C      D      E
0 2020-11-02  1.0  3   test  dates
1 2020-11-02  1.0  3  train  dates
2 2020-11-02  1.0  3   test  dates
3 2020-11-02  1.0  3  train  dates

In [12]:
df.head()

                   A         B         C         D
2020-11-02 -0.056698 -0.371076  0.430862  1.250487
2020-11-03 -0.979188  0.122343  0.468996 -1.205912
2020-11-04  0.615754 -1.029345  1.478236 -0.076471
2020-11-05 -0.013311 -0.582536  1.233423 -0.023510
2020-11-06  0.141375 -0.899362  0.939223  0.278153

In [13]:
df.tail(3)

                   A         B         C         D
2020-11-05 -0.013311 -0.582536  1.233423 -0.023510
2020-11-06  0.141375 -0.899362  0.939223  0.278153
2020-11-07 -0.390519 -1.053149 -0.189085 -0.150460

In [14]:
df.index

DatetimeIndex(['2020-11-02', '2020-11-03', '2020-11-04', '2020-11-05',
               '2020-11-06', '2020-11-07'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [19]:
df.to_numpy()

array([[-0.05669793, -0.37107571,  0.43086199,  1.25048726],
       [-0.97918828,  0.12234253,  0.46899633, -1.20591233],
       [ 0.61575378, -1.02934483,  1.47823606, -0.07647058],
       [-0.01331139, -0.58253623,  1.23342329, -0.02350968],
       [ 0.14137464, -0.89936224,  0.93922276,  0.27815328],
       [-0.39051901, -1.05314897, -0.18908497, -0.15045974]])

In [20]:
df2.to_numpy()

array([[Timestamp('2020-11-02 00:00:00'), 1.0, 3, 'test', 'dates'],
       [Timestamp('2020-11-02 00:00:00'), 1.0, 3, 'train', 'dates'],
       [Timestamp('2020-11-02 00:00:00'), 1.0, 3, 'test', 'dates'],
       [Timestamp('2020-11-02 00:00:00'), 1.0, 3, 'train', 'dates']],
      dtype=object)

In [21]:
df2.describe()

         B    C
count  4.0  4.0
mean   1.0  3.0
std    0.0  0.0
min    1.0  3.0
25%    1.0  3.0
50%    1.0  3.0
75%    1.0  3.0
max    1.0  3.0

In [22]:
df2.T

,0,1,2,3
A,2020-11-02 00:00:00,2020-11-02 00:00:00,2020-11-02 00:00:00,2020-11-02 00:00:00
B,1,1,1,1
C,3,3,3,3
D,test,train,test,train
E,dates,dates,dates,dates